@charset "utf-8";

.wrapper{
	width:950px;
	margin: 0 auto;
	position:relative;
}

.sectionBox{
	width: 500px;
	margin: 0 auto;
	height: 600px;
	border:solid 1px;
}
.sideNav{
	position: fixed;
	right:0;
	width: 200px;
	padding: 10px;
	border:solid 1px;
}
.sideNav li{
	text-decoration: none;
}
.sideNav .active a{
	text-decoration: underline;
}
